.c-product-title {
  margin-bottom: 0.625rem;
  font-family: $font-family-base;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: normal;
}

.c-product-subtitle {
  font-size: 1.125rem;
  line-height: 1.333;
}

.c-product-info {
  @include media-breakpoint-up(lg) {
    padding-left: 2.5rem;
  }

  &__description {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    font-size: 1rem;
    line-height: 1.375;
  }

  &__order-btn {
    width: 100%;
    margin-top: 1.875rem;
  }

  &__icons-link {
    display: flex;
    align-items: center;
    margin-top: 12px;
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding-left: 0;
    list-style-type: none;
    gap: 20px;

    img {
      width: 25px;
      height: 25px;
      object-fit: contain;
    }
  }
}

.c-product-sizes {
  &__inner {
    display: flex;
  }

  table {
    &:first-child {
      margin-right: 3.5rem;
    }

    th {
      font-weight: 300;
    }
  }
}
