.c-post-header {
  position: relative;
  padding-top: 4.6875rem;
  padding-bottom: 4.6875rem;
  color: $white;

  @include media-breakpoint-up(md) {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  &__background {
    @include cover();

    z-index: -1;
    background-color: $gold;

    &::before {
      @include cover();

      content: "";
      background-color: rgba($black, 0.25);
    }

    &.has-no-image {
      &::before {
        display: none;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__date {
    margin-top: 2rem;
    font-size: 0.875rem;
    font-weight: 500;
  }

  &__categories {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  &__category {
    padding: 0.5rem 1rem;
    border-radius: 0.3125rem;
    background-color: $gold;
    color: $white;
    font-size: 0.625rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
  }
}
