.o-section {
  position: relative;
  margin-top: 4.6875rem;
  margin-bottom: 4.6875rem;

  @include media-breakpoint-up(md) {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }

  &__background {
    @include cover();

    z-index: -1;

    &::before {
      @include cover();

      content: "";
      background-color: rgba($black, 0.25);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.bg-green,
  &.bg-light-green,
  &.bg-gold,
  &.bg-light-gold {
    margin: 0;
    padding-top: 4.6875rem;
    padding-bottom: 4.6875rem;

    @include media-breakpoint-up(md) {
      padding-top: 6.25rem;
      padding-bottom: 6.25rem;
    }

    & + & {
      padding-top: 0;
    }
  }
}

.o-section.o-section--intro-front-page {
  padding-top: 6.25rem;
  padding-bottom: 12.5rem;
}

.o-section.o-section--teasers {
  .o-section.o-section--intro-front-page + & {
    padding-top: 6.25rem;
  }

  & + .o-section.o-section--content-image-alt {
    padding-top: 1.5625rem;

    @include media-breakpoint-up(md) {
      padding-bottom: 8.125rem;
    }
  }
}

.o-section.o-section--brochure-form {
  @include media-breakpoint-up(md) {
    padding-bottom: 10.75rem;
  }
}

.o-section.o-section--cta {
  margin: 0;
  padding-top: 4.6875rem;
  padding-bottom: 6.5625rem;

  @include media-breakpoint-up(md) {
    padding-top: 9.375rem;
    padding-bottom: 11.25rem;
  }
}

.o-section.o-section--referral {
  @include media-breakpoint-up(md) {
    padding-top: 5.625rem;
  }

  .o-image {
    display: block;
    width: 100%;
    max-width: 12.5rem;
    margin-right: auto;
    margin-left: auto;

    @include media-breakpoint-up(md) {
      max-width: 15rem;
    }
  }
}

.o-section.o-section--accordion {
  & + & {
    padding-top: 2.5rem;

    > .container-fluid-lg {
      margin-top: -4.6875rem;

      @include media-breakpoint-up(md) {
        margin-top: -6.25rem;
      }
    }
  }
}

.o-section.o-section--breadcrumb {
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}

.o-section.o-section--product-info {
  margin-top: 1.25rem;
}

.o-section.o-section--product-gird {
  margin-top: 2.5rem;

  @include media-breakpoint-up(md) {
    margin-top: 4.6875rem;
  }
}

@include media-breakpoint-down(md) {
  .o-section.o-section--content-cols {
    .col-md-6 + .col-md-6 {
      margin-top: 2.3438rem;
    }
  }
}

.o-section.o-section--post-content {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

.o-section.o-section--related-posts {
  margin: 0;
  padding-top: 4.6875rem;
  padding-bottom: 4.6875rem;
}

.single-post .c-single-post {
  .o-section {
    margin-top: 3.125rem !important;
    margin-bottom: 3.125rem !important;
    padding: 0 !important;

    &.o-section.o-section--cta {
      margin: 0 !important;
      padding-top: 4.6875rem !important;
      padding-bottom: 4.6875rem !important;
    }
  }
}
